html {
  background-image: linear-gradient(to right, #13547a, #80d0c7 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.side_bar {
  overflow: scroll;
  width: 400px;
  height: 1000px;
  position: relative;
  text-align: left;
  color: black;
  margin-left:-10px;
  margin-top:-10px;
  background-color: #ffffff;
}

.hospital_container {
  position: relative;
  text-align:left;
  background-color: #80d0c7;
  margin-left:20px;
  height: 140px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
}

.stanford_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
}

.hospital_description {
  position: relative;
  background-color: #ffffff;
  height: 700px;
  width: 1200px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


h2{
  margin-left: 50px;
  color:black;
  font-family:"Arial"; 
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 40px;
    font-family:"Arial";

  }

button2 {
    border: line;
    cursor: pointer;
    font-family:"Arial";

  }
  
  button:hover {
    opacity: 0.8;
  }

.pledge{
  color:white;
  margin: -200px 950px;
  background-color: #80d0c7;

}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    color: black;
    margin: 250px 1100px;
  
}


.bottom-right {
  position: absolute;
  bottom: -150px;
  right: 100px;
}

.logout {
  bottom: 20px;
  margin-right:-50px;
}

.map_left {
  position: absolute;
  right:100px;
  top:150px;
  width:686px;
  height:544px;
  background-image:white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

p {
  font-style:Sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.search {
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup{
  position:relative;
  margin: -200px 0px;
 }

label, h1{
  font-family:Sans-serif;
  font-size:20px;

}

h1 {
  padding-left:50px;
}
/*Code for pop up box

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  padding-left:50px;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
  padding-left: 50px;
}

.select-selected {
  background-color: #13547a;
  padding-left:50px;

}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {

  color: #ffffff;
  padding-left:50px;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  padding-left:50px;
  background-color: #13547a;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  padding-left:50px;

}


.stacked-bar-graph {
  width: 90%;
  padding-left:50px;
  height: 38px;
  color:#414042;
  position: relative;
  top: 0px;
}
span {
  display: inline-block;
  height:100%;
  box-sizing: border-box;
  float: left;
  color: #fff;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 10px;

}



.bar-1 {
  background: #13547a;
}


.bar-2 {
  background: #778899;
}

.bar-3 {
  background: #80d0c7;
}
 
h4{
 padding-left:50px;
}

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left:-10px;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #80d0c7;
  margin-right:50px;
  font-family:Sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
