html {
  background-image: linear-gradient(to top, #13547a, #80d0c7 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container-left {
  width: 600px;
  height: 600px;
  position: absolute;
  text-align: center;
  color: black;
  background-color: white;
  margin-left:30px;
  bottom: 100px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
}


.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.container-right {
  width: 600px;
  height: 600px;
  position: absolute;
  text-align: center;
  color: black;
  background-color: white;
  
  margin-right:30px;
  margin-left:750px;
}

.logout {

	top: 1000px;
	left: 1000px;
}
