html {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .button {
    margin-top:-20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
  }

  .default {
    border-color: #ffffff;
    color: grey;
  }
  
  .default:hover {
    background: #e7e7e7;
  }

  
  .left{
    margin-left:50px;
    margin-bottom:0px;

  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
  }

  .column {
    float: middle;
    padding: 10px;
  }
 h1 {
    color:white;
    font-family:Sans-Serif;
    font-size:150px;
    margin-left:0px;
    margin-top:280px;
    margin-bottom:-15px;
  }
  p {
    color:white;
    font-size:30px;
    margin-top:-20px;
    font-family:Sans-Serif;
  }

  .top{
    margin-left:1200px;
    margin-right:0px;
    margin-top:-500px;
    font-size:20px;
    font-color:white;
    font-family:Sans-serif;
  
  }

  .top_left{
    margin-left:1200px;
    margin-right:0px;
    margin-top:-510px;
    font-size:20px;
    font-color:white;
    font-family:Sans-serif;
  }

  .top_right{
    margin-top:0px;
    margin-left:1050px;
    font-size:20px;
    font-color:white;
    font-family:Sans-serif;
  }

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left:-10px;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #80d0c7;
  margin-right:50px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
