html {
  background-image: linear-gradient(to right, #13547a, #80d0c7 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.side_bar {
  overflow: scroll;
  width: 400px;
  height: 1000px;
  position: relative;
  text-align: left;
  color: black;
  margin-left:-10px;
  margin-top:-10px;
  background-color: #ffffff;
}

.hospital_container {
  position: relative;
  text-align:left;
  background-color: #80d0c7;
  margin-left:20px;
  height: 140px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
}

.stanford_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
}

.hospital_description {
  position: relative;
  background-color: #ffffff;
  height: 700px;
  width: 1200px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h2{
  margin-left: 50px;
  color:black;
  font-family:"Arial"; 
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 20px;
    font-family:"Arial";

  }
  
  button:hover {
    opacity: 0.8;
  }

.pledge{
  color:white;
  margin: -200px 950px;
  background-color: #aaaaaa;

}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    color: black;
    margin: 350px 1100px;
  
}

.container-left {
  width: 600px;
  height: 600px;
  position: absolute;
  text-align: left;
  color: black;
  background-color: white;
  margin-left:30px;
  bottom: 100px;
}


.container-right {
  width: 600px;
  height: 600px;
  position: absolute;
  text-align:left; 
  color: black;
  background-color: white;
  bottom:100px;
  margin-right:30px;
  margin-left:750px;
}

.bottom-right {
  position: absolute;
  bottom: 50px;
  right: 130px;
}

.logout {
  top: -200px;
  margin-right:-50px;
}

h1{
  margin-left: 50px;
  font-family:"Arial";
  font-size:70px; 
}

table {
  margin-left: 50px;
}

.Pledged{
  color:#13547a;

}

.Delivered {
  color:#80d0c7;

}

